body {
    background-color: #9c9797;
}

h1 {
    color: #ffffffcc;
    text-align: center;
}

h1:hover {
    background-color: rgb(187, 187, 187);
}

input {
    outline: none;
}

form {

    display: flex;
    font-size: 1.7rem;
}

button {
    margin-left: 5px;
}

label {
    margin-left: 5px;
}

output {
    margin-top: 10px;
    color: black;
    font-size: 1.5rem;
}